{% extends 'compra/base_cargas.html' %}

{%block titulo %} Cargar Producto {% endblock %}

{%block titulo_header %} Cargar nuevo Producto {% endblock %}

{%block formulario_modelo %} 

    <form method="POST" class="mt-3">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-success mt-2 width-100 btn-block">Cargar Producto</button>
    </form>
    <a href="{%url 'compra:mostrar_productos' %}" class="mt-4 d-block">Volver al listado de productos</a>

{% endblock %}
           



